.poster-style img {
    height: 20% !important;
}

.border-style {
    border: 20px solid white !important;

}

.pb-style {
    background-image: url(../../../public/image/certificate\ bg.png);
    background-size: 100%;
    background-repeat: repeat-y;
}

.ac-style {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ac-f-s {
    color: #AE8625;
}

.ac-s-s {
    color: #E0AA3E;
}

.ac-t-s {
    color: #D2AC47;
}

.ac-fr-s {
    color: #EDC967;
}